@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.subtitle-transaction {
    margin: 10px auto;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 80%;
    border-bottom: 2px solid #2196f3;
    color: #2196f3;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

.transaction-container {
    display: flex;
    justify-content: center;
    padding: 20px 5%;
}

.transaction-form {
    width: 100%;
    max-width: 500px;
}

.transaction-form label {
    font-size: 14px;
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
    margin-bottom: 30px;
    display: block;
    color: black;
}

.transaction-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: #fff;
    color: black;
    transition: border-bottom-color 0.3s ease-in-out;
    outline: none;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(to right, #2196f3, #2196f3);
    border-image-slice: 1;
}

.transaction-form input:focus {
    outline: none;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(to right, #91ff61, #91ff61);
    border-image-slice: 1;
}

.transaction-form button {
    margin-top: 55px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.transaction-form button:hover {
    background-color: #007bff;
}

.transaction-form .cancel-button {
    background-color: #b30000;
    margin-top: 10px;
}

.transaction-form .cancel-button:hover {
    background-color: #ff0000;
}

.subtitle-my-transactions {
    margin: 20px auto;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 80%;
    border-bottom: 2px solid #2196f3;
    color: #2196f3;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
}

.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #2196f3;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

.my-transactions-table {
    display: flex;
    justify-content: center;
    padding: 20px 5%;
    width: 100%;
}

.my-transactions-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    font-family: 'Inter', sans-serif !important;
    background-color: #fff;
    color: #0056b3;
}

.my-transactions-table th,
.my-transactions-table td {
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.my-transactions-table th {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.my-transactions-table td {
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

.my-transactions-table tr:first-child td {
    padding-top: 10px;
}

.my-transactions-table tr:not(:first-child) td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-transactions-table tr:nth-child(even) td {
    background-color: #F5F7FA;
}